<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.2" targetFramework="net462" />
  <package id="Naos.Recipes.TupleInitializers" version="1.0.108" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Analyzers" version="1.1.12-prerelease" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.Build.Conventions.ReSharper" version="1.1.12-prerelease" targetFramework="net462" developmentDependency="true" />
  <package id="OBeautifulCode.DateTime" version="1.0.6" targetFramework="net462" />
  <package id="OBeautifulCode.Validation.Recipes.ParameterValidator" version="1.0.20" targetFramework="net462" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.1.0-beta007" targetFramework="net462" developmentDependency="true" />
</packages>