<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.1" targetFramework="net45" />
  <package id="Naos.Recipes.TupleInitializers" version="1.0.56" targetFramework="net45" developmentDependency="true" />
  <package id="OBeautifulCode.DateTime" version="1.0.4" targetFramework="net45" />
  <package id="Spritely.Recipes.MustValidation" version="0.6.3" targetFramework="net45" developmentDependency="true" />
  <package id="StyleCop.Analyzers" version="1.0.0" targetFramework="net45" developmentDependency="true" />
</packages>